.contact-section {
    min-height: 80vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.contact-main-container {
    position: relative;
    background-image: url('../images/background 2.png');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#ground2 {
    z-index: 4;
    background-image: url('../images/ground 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    min-height: 100vh;
    padding-left: 4rem;
    padding-right: 6rem;
    position: relative;
    width: 100%;
}

.contact-sword {
    position: relative;
    z-index: 10;
    scale: 1.4;
}


.contact-content {
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 850px;

}

.contact-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;

}

.contact-starting-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contect-box {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

}

.contect-box p {
    color: var(--main-white-color);
    font-size: 1rem;
    line-height: 1.6;
}

.contact-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-ink-color);

}

.contact-title span {
margin-top: -2rem ;
}

.contact-background {
    background-image: url('../images/title.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;

}

.contact-box-container {
    margin-top: -2rem;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

}

.contact-message-box {
    width: 100%;
    background-color: transparent;
    opacity: 0.8;
    padding: 2rem;
    box-shadow: 0 0 10px var(--main-ink-color),
        0 0 15px var(--main-ink-color),
        0 0 20px var(--main-ink-color),
        0 0 25px var(--main-ink-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact-form span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-white-color);
    margin-bottom: 0.5rem;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--main-white-color);
    background-color: transparent;
    width: 100%;
    font-family: inherit;
    box-shadow: 0 0 10px var(--main-ink-color),
        0 0 15px var(--main-ink-color),
        0 0 20px var(--main-ink-color),
        0 0 25px var(--main-ink-color);

}

#name,
#email,
#message {
    color: var(--main-white-color);
    font-size: 1rem;
}

#contact-form textarea {
    min-height: 150px;
    resize: vertical;
}

#contact-form button {
    margin-top: 1rem;
    align-self: flex-start;
    background-image: radial-gradient(var(--main-ink-color), var(--main-red-color), var(--main-ink-color));
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.sumbit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.social-links a {
    height: 50px;
    width: 50px;
    background-color: var(--main-white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--main-red-color),
        0 5px 15px var(--main-red-color),
        0 5px 15px var(--main-red-color);
    color: var(--main-white-color);
    background-color: var(--main-red-color);

}

.social-links a i {
    color: var(--main-red-color);
    background-color: transparent;
}