/*       home page       */

.home-page-header {
    min-height: 80vh;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    border-bottom: 1px solid var(--main-white-color);
    border-radius: 0;
    height: 70px;
}

.logo-container {
    flex: 2;
    margin-left: 1rem;
    padding: 1rem;
}

.logo {
    color: var(--main-white-color);
    font-size: var(--main-font-size);
    font-family: var(--heading-font-family);
    border: none;
    letter-spacing: 0.15em;
    transition: color 0.3s ease;
}

.logo:hover {
    color: var(--main-red-color);
}


.nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-list {
    display: flex;
    gap: 2rem;

    align-items: center;
}

.link {
    font-size: 0.9375rem;
    padding: 0.5rem 1rem;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    color: var(--alternate-white-color);
    transition: color 0.3s ease;
}

.link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--main-red-color);
    transition: width 0.3s ease;
}

.link:hover {
    color: var(--main-white-color);
}

.link:hover::after {
    width: 80%;
}

.active {
    color: var(--main-white-color);
}

.active::after {
    width: 80%;
}