@media (max-width: 480px) {
    .site-header{
        position: fixed;
        z-index: 101;
        backdrop-filter: blur(10px);
        width: 100%;
    }
   
    .nav-list {
        flex-direction: column;
        flex-wrap: wrap;
       
    }

    .contact-box-container {
        min-width: 350px;

        margin-left: 2rem;

    }

    .sword {
        display: none;
    }

    .about-content {
        flex-direction: column;
    }

    .image {
        width: 350px;

        border-radius: 50%;
        max-height: 350px;
    }

    .user-second-info {
        font-size: 4.6rem;
    }


    .skill-content {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 0 1rem;
    }

    .home-page-content {
        align-items: center;
        position: absolute;
        padding: 1rem 0;
    }

    .user-info h1,
    .user-info span {
        color: black;
    }

    .user-second-info p {
        padding: 0 2rem;
        font-size: 1.3rem;
        color: black;
    }

    .menu-btn {
        display: block;
    }

    .navlinks {
        display: none;
        position: absolute;
        top: 70px;
        right: -100%;
        width: 250px;
        height: auto;
        background: rgba(10, 10, 10, 0.95);
        backdrop-filter: blur(10px);
        border-left: 1px solid var(--main-red-color);
        border-bottom: 1px solid var(--main-red-color);


        padding: 2rem 1rem;
        transition: right 3s ease;
        z-index: 1000;
    }


    .navlinks.active {
        right: 0;
        display: block;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        width: 100%;
    }

    .link {
        width: 100%;
        padding: 1rem;
        font-size: 1.1rem;
    }

}